@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

/*General rules for general elements*/
body {
    font-family: Gugi;
    width: 100%;
    margin: 0 auto;
}
a {
    color: black;
    text-decoration: none;
}
a:visited { text-decoration: none; color:rgb(0, 0, 0); }
a:hover { text-decoration: none; color:rgb(255, 255, 255); }
a:focus { text-decoration: none; color:rgb(255, 255, 255); }
a:hover, a:active { text-decoration: none; color:rgb(255, 255, 255) }

/* Header parts of the html pages */
header {
    display: flex;
    background-color: #6ce5e8;
    
    height: 20vh;
    width: 100vw;
}

.page-links {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 1%;
    list-style-type: none;
    
    width: 26vw;
}


.icon {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    
    height: 84%;

    
}



/*footer css*/

footer {
    background-color: #6ce5e8;
    height: 20vh;
    width: 100vw;
    text-align: center;
}