@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

/*General rules for general elements*/
body {
    font-family: Gugi;
    width: 100%;
    margin: 0 ;
}



a {
    color: black;
    text-decoration: none;
}
a:visited { text-decoration: none; color:rgb(0, 0, 0); }
a:hover { text-decoration: none; color:rgb(255, 255, 255); }
a:focus { text-decoration: none; color:rgb(255, 255, 255); }
a:hover, a:active { text-decoration: none; color:rgb(255, 255, 255) }


/* Header parts of the html pages */
header {
    display: flex;
    background-color: #6ce5e8;
    
    height: 20vh;
    width: 100%;
    border-radius: 20px ;
}

header h1 {
    margin: 0 auto;
    
    align-self: center;
    border: black solid 2px;
}

.page-links {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 1%;
    list-style-type: none;
    
    width: 26vw;
}


.icon {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    
    height: 84%;

    
}


/*index page specific css*/



h2 {
    font-size: 8vh;
}
.purpose {
    width: 50vw;
    
    margin: 0 auto;
    margin-bottom: 5vh;
    
    font-size: 5vh;
    border-radius: 20px ;

    background-color: rgb(34, 219, 127);
}

.purpose p {
    padding-bottom: 5vh;
}

.purpose h2 {
    padding-top: 5vh;
}

/*css specifically for target-audience*/
.persona {
    background-color:rgb(34, 219, 127);
    border-radius: 20px;
    width: 45vw;
}

.persona h1 {
    text-align: center;
}

.persona-info {
    margin: 2vh;
    
}

.main-TA {
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/*footer css*/

footer {
    background-color: #6ce5e8;
    height: 20vh;
    width: 100%;
    display: flex;
    border-radius: 20px ;
}

.footer-info {
    margin: 0 auto;
    margin-top: 6vh;
    color: rgb(14, 150, 59);
}

.outside-links {
    margin-top: 6vh;
}