@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

@media only screen and (max-width: 649px) {





/*General rules for general elements*/
body {
    font-family: Gugi;
    width: 100%;
    margin: 0 ;
}



a {
    color: black;
    text-decoration: none;
}
a:visited { text-decoration: none; color:rgb(0, 0, 0); }
a:hover { text-decoration: none; color:rgb(255, 255, 255); }
a:focus { text-decoration: none; color:rgb(255, 255, 255); }
a:hover, a:active { text-decoration: none; color:rgb(255, 255, 255) }


/* Header parts of the html pages */
header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    
    height: 30vh;
    width: 100vw;
    background-color: #6ce5e8;
    border-radius: 20px ;
}

.top-bit {
    display: flex;
    background-color: #6ce5e8;
    justify-content: space-around;
    height: 20vh;
    width: 100vw;
    
}

.time-box {
    position: relative;
    bottom: 5px;
    margin: 0 auto;
    height: 5vh;
    width: 94vw;
    background-color: white;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
}

.title {
   
    margin-top: 5vh;
    width: 55vw;
    height: 15vh;
    text-align: center;
    font-size: 30px;
    
}

.title h1 {
    margin: 0 auto;
    width: 35vw;
    height: 15vh;
    text-align: center;
    font-size: 30px;
}

.title p {
    margin: 0 auto;
    margin-top: -8vh;
    font-size: smaller;
}

.page-links {
    background-color: #6ce5e8;
    border: seagreen solid 1px;
    padding: 0;
    text-align: center;
    
    right: 10vw;
    list-style-type: none;
    width: 10vw;
    
    
}

.page-links li:first-child {
    display: block;
}

.page-links li {
    display: none;
}

.responsive li {
    display: block;
}

.extra-stuff {
    display: block;
    
    
}

.insta-logo {
    margin: 0 auto;
    width: 3vw;
}

.fb-logo {
    margin: 0 auto;
    width: 3vw;
}


.icon {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    position: relative;
    height: 84%;
    
    
}


main {
    align-items: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
}

.index-main {
    text-align: center;
    display: grid;
    
}

.hero-img-box {
    margin-top: 5vh;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.hero-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.join-button {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 30%;
    height: 10%;
    margin: 0 auto;
    margin-top: 20%;
    background-color: rgb(25, 194, 81);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    
}

.welcome {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    
}

.news {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    text-align: center;
    margin-top: 3vh;
}

.events {
    margin: 0 auto;
    height: 48%;
    width: 100%;
    text-align: center;
    justify-content: center;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.events h3 {
    margin-top: 0;
}

.join-us {
    display: none;
}

.join-us .join-button {
    width: 80%;
    height: 30%;
    margin: 0 auto;
    margin-top: 10%;
    font-size: larger;
}


.spotlight {
    height: 45%;
    width: 90%;
    margin: 0 auto;
    margin-top: 3vh;
    text-align: center;
    
}

.spotlight .icon {
    width: 25%;
    height: 30%
}

.spotlight h1 {
    font-size: 3vh;
}

.spotlight-box p {
    margin: 0 auto;
}

.spotlight-box {
    border-top: solid black 1px;
    width: 40vw;
    height: 7vh;
}

.third-spotlight {
    display: none;
}

main div {
    margin: 0 auto;
    background-color:  #6ce5e8;
    width: 95vw;
    height: 40vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    
}

.company-spotlight-box {
    z-index: -1;
    height: 90vh;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.spotlight {
    width: 70vw;
    margin-top: 3vh;
}

.weather-events-box {
    display: block;
    justify-content: space-between;
    background-color: transparent;
    border: transparent;
    height: 82vh;
    
}

.weather {
    margin: 0 auto;
    margin-top: 4vh;
    height: 48%;
    width: 100%;
    text-align: center;
}

.weather h1 {
    font-size: 3vh;
    margin: 0 auto;
}
.weather p {
    margin: 0 auto;
    margin-top: 1vh;
}

.weather-icon {
    margin: 0 auto;
    height: 8vh;
}

.wind-box {
    font-size: 1.9vh;
    margin: 0 auto;
    width: 90%;
    height: 10vh;
    border-top: solid black 1px;
}

.temp-box {
    display: flex;
    width: 15vw;
    height: 7vh;
    margin: 0 auto;
}

.temp {
    margin: 0;
    width: 30%;
}

.wind-speed {
    justify-content: space-between;
    display: flex;
    width: 60%;
    height: 7vh;
    margin: 0 auto;
    font-size: larger;
}

.wind-chill {
    justify-content: space-between;
    display: flex;
    width: 50%;
    height: 7vh;
    margin: 0 auto;
    font-size: larger;
}



/*discover page css*/
.discover-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    text-align: center;
    height: fit-content;
}


.facts-box {
    grid-row: 7/8;
    grid-column: 1/2;
}

.img-info-box img {
    margin-top: 2.5vh;
    height: 20vh;
    border-radius: 10px;

}

.img-info-box {
    display: flex;
    height: 25vh;
    justify-content: space-around;
}

/* -----------JOIN US PAGE-------------- */

.job-position-box:valid {
    border: greenyellow solid 1px;
}

.job-position-box:invalid {
    border: rgb(172, 0, 0) solid 2px;
}

form fieldset {
    margin: 2rem 0;
    border: solid #445ba9 1px;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form .above, form div {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
}

form .above input, form .above select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1) ;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #000a64;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form .above input:required {
    border-left: red solid 6px;
}

form .above input:required:valid {
    border-left: greenyellow solid 6px;
}

.hidden-date {
    display: none;
}

.thanks-message {
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 10px;
}




.directory-main {
    margin-top: 2.5vh;
    display: block;
    text-align: center;
    
    width: 98%;
    margin: 0 auto;
}

.directory-btn {
    margin-top: 2.5vh;
    height: 44px;
    width: 50px;
}

.card{
    height: fit-content;
    margin-top: 2.5vh;
    display: block;
    background-color: white;
    margin-bottom: 2.5vh;
}

section {
    margin-top: 2vh;
    background-color: #999;
    padding: 10px;
    height: 90%;
}

section img {
    max-width: 50%;
    object-fit: contain;
    height: 15%;
}

.list {
    
    height: fit-content;
    margin-top: 2.5vh;
    display: block;
    background-color: white;
    text-align: center;
    margin-bottom: 2.5vh;
}

tr {
    height: 60px;
    outline: solid black;
}

tr:nth-of-type(even) {
    background-color: #999;
    color: #000000;
    
}

td {
    width: 30%;
    outline: solid black 1px;
}

td a {
    margin: 0 auto;
}

table {
    margin: 0 auto;
    background-color: rgb(219, 219, 219);
    color: rgb(0, 0, 0);
    width: 98%;
}

table:nth-child(even) {
    background-color: #999;
}



legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

fieldset {
    color: #445ba9;
}
.contact-main {
    text-align: center;
}

.submitBtn {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*footer css*/

footer {
    background-color: #6ce5e8;
    width: 100%;
    display: block;
    border-radius: 20px ;    
    text-align: center;
    height: fit-content;
}

.footer-top {
    margin-top: 5vh;
}

.footer-info {
    margin: 0 auto;
    margin-top: 15vh;
    color: rgb(0, 0, 0);
    height: fit-content;
    border-top: solid black 1px;
    font-size: 13px;
}


.outside-links {
    text-align: center;
    margin-top: 6vh;
    grid-row: 1/3;
    grid-column: 1/2;
    list-style-type: none;
}

.map {
    
    height: fit-content;
    margin-top: 4%;
    
}

.footer-icon {
    height: 15vh;
    
}

}