@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

/*General rules for general elements*/
body {
    font-family: Gugi;
    width: 100%;
    margin: 0 ;
}



a {
    color: black;
    text-decoration: none;
}
a:visited { text-decoration: none; color:rgb(0, 0, 0); }
a:hover { text-decoration: none; color:rgb(255, 255, 255); }
a:focus { text-decoration: none; color:rgb(255, 255, 255); }
a:hover, a:active { text-decoration: none; color:rgb(255, 255, 255) }


/* Header parts of the html pages */
header {
    display: flex;
    background-color: #6ce5e8;
    justify-content: space-around;
    height: 20vh;
    width: 100%;
    border-radius: 20px ;
}

.title {
   
    margin-top: 5vh;
    width: 55vw;
    height: 15vh;
    text-align: center;
    font-size: 30px;
    
}



.page-links {
    background-color: #6ce5e8;
    border: seagreen solid 1px;
    padding: 0;
    text-align: center;
    
    right: 10vw;
    list-style-type: none;
    width: 10vw;
    
    
}

.page-links li:first-child {
    display: block;
}

.page-links li {
    display: none;
}

.responsive li {
    display: block;
}


.icon {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    position: relative;
    height: 84%;
    
    
}


main div {
    margin: 0 auto;
    background-color: rgb(177, 175, 175);
    width: 95vw;
    height: 40vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: solid grey 1px;
}

main {
    align-items: center;
}

.company-spotlight-box {
    display: flex;
    height: 47vh;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.spotlight {
    width: 45vw;
    margin-top: 3vh;
}

.weather-events-box {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: transparent;
}

.weather {
    width: 35vw;
    height: 37vh;
    
}

.events {
    width: 55vw;
    height: 37vh;
}


/*footer css*/

footer {
    background-color: #6ce5e8;
    height: 20vh;
    width: 100%;
    display: flex;
    border-radius: 20px ;    
    text-align: center;
   
}

.footer-info {
    margin: 0 auto;
    margin-top: 6vh;
    color: rgb(14, 150, 59);
}

.outside-links {
    margin-top: 6vh;
}